*{
    margin: 0;
    padding: 0;
}

body{ /* Corpo da pagina */
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden; 
}

/* Inicio do menu principal da segunda pagina */
#menu2{  
    background-color: black;
    color: white;
    padding: 2%;
}
#menu2 img{
    position: absolute;
    margin: -2.8%;
    margin-left: 14%;
}
#menu2 h1{
    margin-left: 5%;
}
#menu2 h4{
    font-size: 20px;
    color: orange;
    margin-left: 4.5%;
}

.perfil{
    font-size: 28px;
    margin-left: -10px;
}
.nomeCross{
    color: orange;
    font-size: 25px;
}
#voltar{
    float: right;
    font-size: 20px;
}
#voltar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#blocoAzul{
    width: 100%;
    padding: 1%;
    background-color: rgb(5, 19, 46);
}
/*fim menu principal da segunda pagina*/



/* Inciando o formulario de cadastro*/

.container{
    width: 100%;
    height: 80vh;
    display: flex;
}

.form-image{
    width: 50%;
    display: flex;
    padding: 2rem;
    margin-top: 4rem;
    
}
.form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    padding: 3rem;
    color: white;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
   
}

.login-button{
    display: flex;
    align-items: center;
}
.login-button button{
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.login-button a{
        text-decoration: none;
        font-weight: 500;
    }

.login-button button:hover{
    background-color: antiquewhite;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #FCA311;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0.2rem;
    margin: -1rem; 
}

.input-box{
    display: flex;
    flex-direction: column;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 20px;
}

.input-box input:hover{
    background-color: #eeeeee;
}

.input-box input:focus-visible{
    outline: 1px solid orange;
}

.input-box label,
.gender-title h6{
    font-size: 1rem;
    font-weight: 600;
    color: #E5E5E5;
}

.input-box input::placeholder{
    color: #cfcfcf;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
}

.gender-inputs{
    margin-top: 1rem;
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #E5E5E5;
}

.input-box select{
    border-radius: 20px;
    width: 13rem;
    height: 6vh;
}

.models label{
    padding: 0.4rem;
}

.models{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
#muay{
    padding: 1rem;
}

.botao-continuar{
    margin-right: 1.2rem;
}

.botao-continuar button{
    width: 100%;
    display: flex;
    margin-top: 2.3rem;
    border: none;
    background-color: #FCA311;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.4rem 3rem ;
}
.botao-continuar a{
    text-decoration: none;
    color: white;
    margin-left: -0.6rem;
}

.botao-continuar button:hover{
    background-color: #c77d05;
}

@media screen and (max-width: 1330px){
    .form-image{
        display: none;
    }
    .form{
        width: 80%;
    }
}
@media screen and (max-width: 1064px){
    .container{
        width: 100%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 15rem;
        padding-right: 5rem;
    }
    .gender-inputs{
        margin-top: 2rem;
    }
    .gender-group{
        flex-direction: column;
    }
    .botao-continuar{
        width: 65%;
        margin-left: 20%;
    }
    .models select{
        width: 117%;
        height: 3.5vh;
    }
    .models option{
        width: 10%;
    }
    .form-header{
        margin-left: -1rem;
        height: 5vh;
    }
    .login-button{
        display: none;
    }
    .gender-group{
        height: 13vh;
    }
}