*{
    margin: 0;
    padding: 0;
}

body{ /* Corpo da pagina */
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

/* Inicio do menu principal da segunda pagina */
.container-menu{  
    background-color: black;
    color: white;
    padding: 1.7%;
    display: block;
}
.estrelas{
    color: orange; 
    letter-spacing: 6px;
    margin-right: 5.5rem;
    font-size: 8px; 
    display: flex;
    margin-left: 5rem;  
    align-items: center;
    margin-top: -1rem;
}

.boneco{
    display: block;
}
.boneco img{
    position: absolute;
    margin-left: 12.5rem;
    margin-top: -3.3rem;
}
.perfil{
    font-size: 30px;
    margin-left: 80px;
    font-family: Anton;
}

.nomeCross{
    color: orange;
    font-size: 25px;
    font-family: Bebas Neue;
}
.nomeCross h1{
    margin-left: 3.2rem;
    margin-top: -1.2rem;
}
#voltar{
    float: right;
    font-size: 20px;
    display: block;
}
#voltar a{
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#blocoAzul{
    width: 100%;
    padding: 1%;
    background-color: rgb(5, 19, 46);
}
/*fim menu principal da segunda pagina*/

.img-table{
    align-items: center;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 1rem;
}
.img-table h3{
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    background-color: white;
    color: #14213D;
    border: 5px solid #14213D;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    font-family: Bebas Neue;
    font-size: 42px;
    align-items: center;
    text-align: center;
    display: block;
    margin: 0 auto;
    
}
.img-table p{
    align-items: center;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: #14213D;
    color: white;
    padding: 0.2rem 2rem 0rem 2rem;
    width: 60px;
    height: 35px;
    border-radius: 20px;
    font-family: Bebas Neue;
    font-size: 24px;
  
}
.img-table p::after{
    content: '';
    display: block;
    width: 0.3rem;
    height: 13rem;
    background-color: #14213D;
    margin: 0 auto;
    border-radius: 10px;
}

.img-table img{
    border: 10px solid #14213D;
    border-radius: 50px;
   
    
}