*{
    margin: 0;
    padding: 0;
}

body{ /* Corpo da pagina */
    width: 100%;
    height: 100vh;
    background-image: url('../imagens/imgprincipal.jpg');
    background-size: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-attachment: fixed;  
}



/* Inicio do menu principal da segunda pagina */

#blocoAzul{ /* menu fale conosco*/
    background-color: #14213D;
    width: 100%;
    height:  3vh;
    padding: -2%;
}
.insta{
    float: right;
    padding-left: 1rem;
    display: flex;
}
.insta i{
    float: right;
    margin-left: 1%;
}
.insta a{
    color: white;
}

.container-menu{  
    background-color: black;
    color: white;
    padding: 2.7%;
    display: block;
}
.estrelas{
    color: orange; 
    letter-spacing: 6px;
    margin-right: 5.5rem;
    font-size: 8px; 
    display: flex;
    margin-left: 5rem;  
    align-items: center;
    margin-top: -1rem;
}

.boneco{
    display: block;
}
.boneco img{
    position: absolute;
    margin-left: 12.5rem;
    margin-top: -3.3rem;
}
.perfil{
    font-size: 30px;
    margin-left: 80px;
    font-family: Anton;
}

.nomeCross{
    color: orange;
    font-size: 25px;
    font-family: Bebas Neue;
}
.nomeCross h1{
    margin-left: 3.2rem;
    margin-top: -1.2rem;
}

#blocoLaranja{
    width: 100%;
    height:  1vh;
    padding: -2%;
    background-color: #EB3519;
}

/*fim menu principal da segunda pagina*/

.container{
    width: 100%;
    color: white;
}



.buttons{
    display: flex;
    float: left;
}

.input-button{
    padding: 1.8rem 5rem;
    display: flex;
    
}

.input-button i{
    margin-right: 1rem;
    border: 2px solid #14213D;
    border-radius: 100px;
    padding: 0.1rem 0.3rem;
    background-color: #14213D;
    color: white;
    font-size: 16px;
    position: absolute;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
    
}

.input-button h3{
    margin-left: 3rem;
}

.input-button p{
    font-weight: 400;
    margin-top: -0.3rem;
    margin-left: 3rem;
    font-size: 12px;
}

.input-button button{
    width: 300px;
    border-bottom: 5px solid #787878;;
    font-size: 13px;
    text-align: left;
    border-radius: 50px;
    margin-left: 4rem;
    padding: 0.5rem 0.3rem 0.8rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title{
    padding: 1rem;
    font-size: 42px;
    font-family: Bebas Neue;
    display: flex;
    margin-left: 5rem;
}



.text-info{
    margin-top: -4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;    
    float: right;
    padding-right: 6rem;
}

#texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}
#text1{
    font-family: Bebas Neue;
    font-size: 24px;
}
#text2{
    margin-top: -1rem;
    font-size: 14px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.qrcode {
    padding: 4rem;
}