*{
    margin: 0;
    padding: 0;
}

body{ /* Corpo da pagina */
    width: 100%;
    height: 100vh;
    background-color: #050a16;
    background-size: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;

    background-size: cover;
    
}

/* Inicio do menu principal da segunda pagina */
.container-menu{  
    background-color: #050a16;
    color: white;
    padding: 2.7%;
    display: block;
}
.estrelas{
    color: orange; 
    letter-spacing: 6px;
    margin-right: 5.5rem;
    font-size: 8px; 
    display: flex;
    margin-left: 5rem;  
    align-items: center;
    margin-top: -1rem;
}

.boneco{
    display: block;

}
.boneco img{
    position: absolute;
    margin-left: 12.5rem;
    margin-top: -3.3rem;
   
}
.perfil{
    font-size: 30px;
    margin-left: 80px;
    font-family: Anton;
}

.nomeCross{
    color: orange;
    font-size: 25px;
    font-family: Bebas Neue;
}
.nomeCross h1{
    margin-left: 3.2rem;
    margin-top: -1.2rem;
}
#voltar{
    float: right;
    font-size: 20px;
    display: block;
}
#voltar a{
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#bloco-cor{
    width: 100%;
    padding: -0.4%;
    background-color: #EB3519;
}
/*fim menu principal da segunda pagina*/


/* Inciando o formulario de cadastro*/

.container{
    width: 100%;
    height: 80vh;
    
}


.form{
    width: 1200px;
    display: flex;
    padding: 1.5rem;
    
    
}

.form-header{
    margin-left: 6rem;
    display: flex;
}

.button-login{
    margin-left: 62rem;
    display: flex;
    position: absolute;
    margin-top: -1.8rem;
    
}

.button-login a{
    text-decoration: none;
}

.button-login button{
    padding: 0.3rem 3rem;
    border: none;
    border-radius: 20px;
    background-color: #14213D;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;

}

.form-header h1{
    font-family: Bebas Neue;
    font-size: 35px;
    color: white;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #EB3519;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding: 1rem 2rem;
    margin-left: 4rem;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input{
    border: none;
    border-radius: 20px;
    padding: 0.8rem 1.7rem;
    display: flex;
    
}

.input-box label{
    color: white;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.models{
    display: flex;
    flex-direction: column;
    margin-right: 17.5rem;
    width: 225px;
}   

.models select{
    border-radius: 20px;
    padding: 0.7rem 1.5rem;  
}

.botao-continuar{
    margin-top: 20.5rem;
     margin-left: 55rem;
     width: 1px; 
     position: absolute;
 }
 .botao-continuar button{
     border: none;
     padding: 0.5rem 3rem;
     border-radius: 20px;
     background-color: #EB3519;
     font-size: 12px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bold;
     color: white;
 }
.botao-continuar a{
    text-decoration: none;
}

.botao-continuar button:hover{
    background-color: #fb3e20;
}

.gender-group{
    display: flex;
    color: white;
    padding: 0.4rem;
    margin-left: 5rem;
}   
.gender-title {
    margin-top: -1.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 6.2rem;
}
.gender-input{
    padding: -2rem;
    padding-left: 2rem;
}
.gender-input input{
    margin-right: 0.35rem;
}
